RewriteEngine on
RewriteCond %{HTTP_HOST} ^tidngz.com [NC]
RewriteRule ^(.*)$ http://www.tidngz.com/$1 [L,R=301,NC]
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]